<div layout="column" flex ng-cloak id="popupContainer">
  <div layout="row" flex>
   <md-content layout="column" flex layout-fill layout-padding>
    <md-card>
    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
     <md-input-container md-theme="input" flex>
            <label>GitHub Repo</label>
            <input ng-model="searchUrl">
          </md-input-container>
          <md-button aria-label="Search" ng-click="search()">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
        </div>
            <md-table-container>
              <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                <thead md-head>
                  <tr md-row>
                    <th md-column md-numeric><span>Total open issues</span></th>
                    <th md-column md-numeric><span>Issues opened in the last 24 hours</span></th>
                    <th md-column md-numeric>Issues opened more than 24 hours ago but less than 7 days ago</th>
                    <th md-column md-numeric>Issues opened before 7 days</th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row>
                    <td md-cell><a href ng-click="listIssues('all')">{{total}}</a></td>
                    <td md-cell><a href ng-click="listIssues('today')">{{today.length}}</a></td>
                    <td md-cell><a href ng-click="listIssues('thisWeek')">{{thisWeek.length}}</a></td>
                    <td md-cell><a href ng-click="listIssues('prev')">{{prev.length}}</a></td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
          </md-card>


  </md-content>
</div>
</div>